.range-controls {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    margin-left: 0;
  }
}

.range-controls__scale {
  position: relative;

  display: block;
  height: 2px;
  margin-bottom: 36px;

  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

/* .range-controls__bar {
  position: absolute;
  height: 4px;
  width: 250px;

  background-color: $primary-lighter;

  @media (min-width: $tablet-width) {
    width: 187px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
} */

.range-controls__toggle {
  display: none;
}

.noUi-handle {
  position: absolute;
  top: -10px;
  width: 24px;
  height: 24px;
  background-color: $color-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  transform: translateY(-25%);
  z-index: 2;

  &::after,
  &::before {
    display: none;
  }
}

.noUi-touch-area,
.noUi-horizontal .noUi-handle {
width: 24px;
height: 24px;
}

.noUi-target {
  margin-left: 5px;
}

.noUi-handle:hover,
.noUi-handle:focus {
  outline: none;
  background-color:#E2E2E2;
  border: 2px solid $color-primary;
  box-shadow: inset 0 0 0 2px $color-white, inset 0 0 0 2px #E2E2E2;
}

.noUi-handle:active {
  background-color: $color-primary;
  border: 2px solid $color-primary;
  box-shadow: inset 0 0 0 2px $color-white, inset 0 0 0 6px $color-primary;
}

.noUi-handle:disabled {
  background-color: $color-white;
  border: 2px solid $color-grey;
}

.noUi-base {
  height: 2px;
  background-color: $light-grey;
  transition: opacity 0.3s;
}

.noUi-connect {
  height: 4px;
  background-color: $primary-lighter;
}

.noUi-base,
.noUi-connects {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.noUi-pips-horizontal {
  display: none;
}

/* .range-controls__toggle {
  position: absolute;
  top: -10px;

  width: 24px;
  height: 24px;

  background-color: $color-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  cursor: pointer;

  &--max {
    right: -11px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    width: 19px;
    height: 19px;

    border-radius: 50%;
    background-color: $color-white;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      background-color: $primary-opacity;
    }
  }

  &:active {
    &::before {
    background-color: $color-primary;
    }
  }

  &:disabled {
    background-color: $color-white;
    border: 2px solid $color-grey;
    color: $color-grey;

    pointer-events: none;
  }
} */

input[type="range"]:disabled {
  pointer-events: none;
}

.range-controls__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.range-controls__input {
  width: 110px;
  height: 35px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  color: $color-black;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 127px;
  }

  &::placeholder {
    color: $color-grey;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $primary-darker;
  }

  &:disabled {
    pointer-events: none;
    background-color: transparent;
    border-color: $lightest-grey;
  }
}
